


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4000;
    top: 0;
    left: 0;
    border:1px solid #bdbdbd;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 0.4s ease;
    border-right: 1px solid rgb(235, 235, 235) ;
    padding-top: 10px;
    box-shadow: 3px 3px 2px #888888;

}

.sidenav a {
    padding: 32px 32px 32px 32px;
    text-decoration: none;
     font-size:20px;
    color: #797979;;
    display: block;
  font-weight:500;
  font-family: 'Lato', sans-serif;
    transition: 0.3s ;
    border-bottom: rgb(221, 220, 220) solid 1px;
   
}

.sidenav a:hover {
    color: #3F3F3F;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 22px;
    color: #000;
    margin-left: 50px;
}
.sidenav .back {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 22px;
    color: #000;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left:0px; 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.menu-icon{
    margin-top:px;
    
    color: #555555;
    left:0px;
    border-right:2px solid #c2bfbf; 
    padding:30px 15px 30px 20px;
}



.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  

     
.sub-heading{


    margin-left:60px; 
}
.head
{font-family: 'Lato', sans-serif;
font-size:30px;
font-weight:900;}