/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


.navbar
{background-color:#e7e7ebea;
  padding:2px;
  box-shadow: 3px 3px 5px #888888;
  height:80px;

 }
  
 .navbar-brand{
   margin-left:40px;
   font-size:24px;
   font-weight:600;
 }
 #menu{
   margin-right:550px;
 }
 .nav-link, .navbar-brand
 {color:#0d1d37;
 }
 .nav-link:hover
 {background-color:rgb(231, 231, 231);
 color:#49515e;
 }
 .nav-item
 {padding:0px 3px;
  font-size:16px; font-weight:600;
  font-family: 'Lato', sans-serif;
  color:#0d1d37;}

.carousel-item {
  height: 65vh;
  min-height: 400px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: property duration timing-function delay;
  -moz-transition: property duration timing-function delay;
  transition: property duration timing-function del;
}

.portfolio-item {
  margin-bottom: 30px;
}

.circles
{width:100px;
height:100px;
}
#card1{
  
  margin:40px;
}


.footer
{ margin-top:50px ;
  padding:40px;
  background-color:#fcfbf4; 
}
#footer-item
{margin:15px 0px;
  color:#4b5451;
  font-size:15px;
  font-family: 'Lato', sans-serif;
font-weight:200;}
#footer-head
{margin-bottom:15px;
  color:#4b5451;
  font-size:21px;
  font-family: 'Lato', sans-serif;
font-weight:200;}

#latestarticles{
  color:#535d6d;
  font-family: 'Lato
  ', sans-serif;
  font-size:200;
}
.fa
{padding:15px;
}
.fa:hover{
	opacity:0.7;
}
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 20px;
    height:10px;
    width: 10px;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    height:13px;
    width: 13px;
    font-size: 20px;
   }
   .fa-instagram {
    background: #3B5998;
    color: white;
    font-size: 20px;
    height:10px;
    width: 10px;
}



.contact
{margin-top:30px;
  background-color:#ffffff;
  paddding:30px; 
}



.common{
  padding: 60px;
}

/*wht we offer*/
#whatweoffer
{background-color:#edf5fa;
padding:20px 20px 50px 20px;
}
 


.circle-row
{margin-top:30px;}
.customers
{padding:70px;}

.aboutus
{height:200px;}
.head
{color:#ffffff;
  padding-top:70px ;
  padding-left:230px;
  font-family: 'Lato', sans-serif;
}

/*stuff to be used again*/


.circles1{
  width:20px;
  height:20px;
  margin-bottom:20px;
}
/* PRODUCTS */
#requestademo{
padding:30px;
background-color:rgb(255, 255, 255);
text-align:center;
}



.button1:hover
{opacity:0.6;
  }


  /*main page css*/
  .sec1
  {  height: 300px;
    width:50px;  
    font-family: 'Lato', sans-serif;
    border:2px solid #dfdfdf;
    padding:40px 20px 10px 20px;
    margin:44px;
    border-radius:4px;
    width:100px;
    length:200px;
  }
 
 
   .sec3
   {padding:40px 50px 40px 50px;
    height:400px;
    font-family: 'Lato', sans-serif;
    color:#6b7070;
    }
    .textblock
    {margin-top: 10%;
      padding:40px;
    background-color:rgba(0, 0, 0, 0.185);
     height:200px;
     border-radius:5px;
     width:900px;
    }
    .oppor
    {padding:30px 90px 30px 90px;
    height:460px;
  text-align:center;
   border-radius:5px;}
    .oppor1
     {padding:40px;}
  
     .circle2
     {margin-left:80px;
      width:150px;
       height:150px;
       border-radius:100px;
       }
    .circle2:hover
    {box-shadow: -5px 0px 20px 0px #888888;
    }
    
   /*fonts*/    
   .heading3{
   color:#3d3d3d;
   font-weight:600;
   font-size:24px;
   font-family: 'Lato', sans-serif
   
  }
  .heading4{color:#3d3d3d;
  font-weight:600;
  font-size:18px;
  font-family: 'Lato', sans-serif;
 }
 .heading1{
  color:#3d3d3d;
  font-family: 'Lato', sans-serif;
  font-size:23px;
  margin-top:2px;
  font-weight:700;
}
.headingpricing
{margin-top:30px;
  color:#3d3d3d;
  font-size:30px;
  font-family: 'Lato', sans-serif;
  margin-left:395px;
}
.heading
{margin-top:25px;
color:#6d6d6d;
font-size:26px;
font-family: 'Lato', sans-serif;
font-weight:600;}

.content1
{margin-top:14px;
  
font-size:20px;
color:#3d3d3d;
font-weight:400;}

.heading2
{
  font-size:23px;
  font-weight:600;
  color:#1a0e3c

}
.button1 {
  margin-top:30px;
    background-color: rgb(135, 252, 213); /* Green */
    border:none;
    
     
    padding: 20px 15px 10px 15px;
    text-align: center !important;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:4px;
    color:#3d3d3d;
    font-size:30px;
    font-family: 'Lato', sans-serif;
}
.button2{
  margin-top:20px;
  background-color: rgb(135, 252, 213); /* Green */
  border:none;
  padding: 12px 10px 10px 10px ;
  text-align: center !important;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight:700;
  border-radius:4px;
  color:#3d3d3d;
  font-family: 'Lato', sans-serif;
}
.request
{padding:60px;}

.dialogue
{ padding:10px;
  border:1px solid rgba(43, 43, 43, 0.185);
  background-color:rgba(43, 43, 43, 0.185);
  border-radius:10px;

}
.textblock1
{ padding: 50px 0px 0px 180px;
 
}
/*ABOUT PAGE CSS*/
.aboutimage
{
margin-left:30px;
font-size:18px;
font-weight:600;

}
.aboutcontent
{font-size:14px;
color:#6d6c6c}
.iconcontent
{ padding-top:20px;
  font-size:18px;
font-weight:600;}

.iconborder
{border:1px solid #ffffff;
margin:45px;
padding:19px;
border-radius:7px;
background-color:#ffffff}