<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A one stop for all your academic queries">
    <meta name="keywords" content="colleges, coaching, admissions">
    <title>Value Plus</title>
    <!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/value-plus.css" rel="stylesheet">
    <link href="css/sidebar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>
<body>


<!--SIDEBAR -->


  <!--SIDEBAR-->
 <!--SIDEBAR-->
 <div id="mySidenav" class="sidenav">
    
                <div class="row">
        
                </div>
                <a href="index1.html" value="productsMenu"  style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Value Plus <span> <a href="javascript:void(0)" style="border:none;"class="closebtn" >&#8592;</a></span></a>
             
                <a href="javascript:void(0)" value="productsMenu" id="product" >Products </a>
                <a href="javascript:void(0)" value="consultationMenu" id="consultation" >Consultation</a>
                <a href="javascript:void(0)" value="trainingMenu" id="training" >Training</a>
                <a href="javascript:void(0)" value="platformMenu" id="platform">Platforms</a>
                <a href="about.html" id="about" class="heading3">About Us</a>
    </div>
        
              
            <!--products menu N0 2-->
            <div id="productsMenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem "  style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Products<span> <a href="javascript:void(0)"  value="productsMenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                <a  href="javascript:void(0)" class="submenuItem" value="healthmenu" id="health" >Health Plus</a>
                <a  href="javascript:void(0)" class="submenuItem" value="sanitationmenu" id="sanitation" >Sanitation Plus</a>
                <a  href="javascript:void(0)" class="submenuItem" value="incorporatemenu" id="incorporate" >Incorporate</a>
                <a  href="javascript:void(0)" class="submenuItem" value="complymenu" id="comply" >Comply</a>
                <a  href="javascript:void(0)" class="submenuItem" value="pitchmenu" id="pitch" >Pitch</a>
                
            </div>
        
        
        
        
        
            <!--Consultation menu NO 3-->
            <div id="consultationMenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem"  style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif"  >Consultation<span> <a href="javascript:void(0)" value="consultationMenu" style="border:none;"class="closebtn" >&#8592;</a></span></a>
                <a  href="javascript:void(0)" class="submenuItem" value="corporatemenu" id="corporate" >Corporate Consulting</a>
                    <a  href="javascript:void(0)" class="submenuItem" value="startupmenu" id="startup" >Startup Consulting</a>
                        <a  href="javascript:void(0)" class="submenuItem" value="socialmenu" id="social" >Social Consulting </a>
            </div>
        
        
        
        
            <!--Training menu NO 4-->
            <div id="trainingMenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem"   style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Training<span><a href="javascript:void(0)"  value="trainingMenu" style="border:none;"class="closebtn" >&#8592;</a></span></a>
                <a  href="javascript:void(0)" class="submenuItem" value="productmarketmenu" id="productmarket" >Product Market Fit</a>
                <a  href="javascript:void(0)" class="submenuItem" value="businessmodellingmenu" id="businessmodelling" >Business Modelling </a>
                <a  href="javascript:void(0)" class="submenuItem" value="growthmenu" id="growth" >Growth </a>
                <a  href="javascript:void(0)" class="submenuItem" value="impactdesignmenu" id="impactdesign">Impact Design</a>
                
                
            </div>
        
        
            <!--Innovation menu NO-5-->
            <div id="platformMenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem"   style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Platform<span> <a href="javascript:void(0)" value="platformMenu" style="border:none;"class="closebtn" >&#8592;</a></span></a>
                <a class="submenuItem" href="platform.html" >Our Services</a>
                <a class="submenuItem" href="sendplatform.html" >Send a Query</a>
                <a class="submenuItem" href="requestplatform.html" >Request a Quote</a>
                <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>
                
            </div>
             <!--PRODUCTS-->
            <!--HEALTH PLUS MENU NO-6-->
            <div id="healthmenu" class="sidenav">
                    <div class="row">
            
                    </div>
            
                    <a class="submenuItem  "    style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Health +<span> <a href="javascript:void(0)"  value="healthmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                    <a class="submenuItem" href="health.html" class="heading3">About</a>
                    <a class="submenuItem" href="pricinghealth.html" class="heading3">Pricing</a>
                    <a class="submenuItem" href="requesthealth.html" class="heading3">Request a Demo</a>
                    <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>
                    
            </div>
            
            
            <!--SANITATION PLUS MENU NO-7-->
            <div id="sanitationmenu" class="sidenav">
                    <div class="row">
            
                    </div>
            
                    <a class="submenuItem  "  style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Sanitation +<span> <a href="javascript:void(0)"  value="sanitationmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                    <a class="submenuItem" href="sanitation.html" class="heading3">About</a>
                    <a class="submenuItem" href="pricingsanitation.html" class="heading3">Pricing</a>
                    <a class="submenuItem" href="requestsanitation.html"class="heading3">Request a Demo</a>
                    <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>
                    
            </div>
            
            <!--CONSULTING PLUS MENU NO-8-
            <div id="consultmenu" class="sidenav">
                    <div class="row">
            
                    </div>
            
                    <a class="submenuItem  " style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Consulting +<span> <a href="javascript:void(0)"  value="consultmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                    <a class="submenuItem" href="consulting.html"class="heading3">About</a>
                    <a class="submenuItem" href="pricingconsulting.html"class="heading3">Pricing</a>
                    <a class="submenuItem" href="requestconsulting.html"class="heading3">Request a Demo</a>
                    <a class="submenuItem" href="contact.html"class="heading3">Contact us</a>
                    
            </div>
            -CONSULTING PLUS MENU NO-8-->

             <!--INCOROPRATE MENU NO-8-->
            <div id="incorporatemenu" class="sidenav">
                    <div class="row">
            
                    </div>
            
                    <a class="submenuItem  " style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Incorporate<span> <a href="javascript:void(0)"  value="incorporatemenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                    <a class="submenuItem" href="incorporate.html"class="heading3">About</a>
                    <a class="submenuItem" href="pricingincorporate.html"class="heading3">Pricing</a>
                    <a class="submenuItem" href="requestincorporate.html"class="heading3">Request a Demo</a>
                    <a class="submenuItem" href="contact.html"class="heading3">Contact us</a>
                    
            </div>
            
            <!--COMPLY MENU NO-8-->
            <div id="complymenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem  " style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Comply<span> <a href="javascript:void(0)"  value="complymenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                <a class="submenuItem" href="comply.html"class="heading3">About</a>
                <a class="submenuItem" href="pricingcomply.html"class="heading3">Pricing</a>
                <a class="submenuItem" href="requestcomply.html"class="heading3">Request a Demo</a>
                <a class="submenuItem" href="contact.html"class="heading3">Contact us</a>
                
        </div>
        <!--PITCH MENU NO-8-->
        <div id="pitchmenu" class="sidenav">
            <div class="row">
    
            </div>
    
            <a class="submenuItem  " style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Pitch<span> <a href="javascript:void(0)"  value="pitchmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
            <a class="submenuItem" href="pitch.html"class="heading3">About</a>
            <a class="submenuItem" href="pricingpitch.html"class="heading3">Pricing</a>
            <a class="submenuItem" href="requestpitch.html"class="heading3">Request a Demo</a>
            <a class="submenuItem" href="contact.html"class="heading3">Contact us</a>
            
    </div>
            
        <!--CONSULTING  menu -->
        <!--CORPORATE CONSULTING menu no 9-->
        <div id="corporatemenu" class="sidenav">
        <div class="row">

        </div>

        <a class="submenuItem  " style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Corporate Consulting<span> <a href="javascript:void(0)"  value="corporatemenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
        <a class="submenuItem" href="corporate.html" >Our Services</a>
        <a class="submenuItem" href="sendcorporate.html" >Send a query</a>
        <a class="submenuItem" href="requestcorporate.html">Request a Quote</a>
        <a class="submenuItem" href="contact.html" >Contact us</a>
       

      </div>

         <!--Startup CONSULTING menu no 10-->
        <div id="startupmenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem  "   style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Startup Consulting<span> <a href="javascript:void(0)"  value="startupmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                <a class="submenuItem" href="startup.html" >Our Services</a>
                <a class="submenuItem" href="sendstartup.html" >Send a query</a>
                <a class="submenuItem" href="requeststartup.html">Request a Quote</a>
                <a class="submenuItem" href="contact.html" >Contact us</a>
        
              </div>
           <!--Social CONSULTING menu no 11-->
        <div id="socialmenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem  "   style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Social Consulting<span> <a href="javascript:void(0)"  value="socialmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                <a class="submenuItem" href="social.html" >Our Services</a>
                <a class="submenuItem" href="sendsocial.html" >Send a query</a>
                <a class="submenuItem" href="requestsocial.html">Request a Quote</a>
                <a class="submenuItem" href="contact.html">Contact us</a>
        
              </div>
   



         <!--TRAINING MENU menu no 12-->

         
         <!--PRODUCT MARKET FIT MENU-->
         <div id="productmarketmenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem  "  style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Product Market Fit<span> <a href="javascript:void(0)"  value="productmarketmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                <a class="submenuItem" href="productmarket.html">Our Services</a>
                <a class="submenuItem" href="sendproductmarket.html" >Send a query</a>
                <a class="submenuItem" href="requestproductmarket.html">Request a Quote</a>
                <a class="submenuItem" href="contact.html" >Contact us</a>
        
        </div>

          <!--BUSINESS MODELLING MENU 13-->
         <div id="businessmodellingmenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem  "   style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Business Modelling<span> <a href="javascript:void(0)"  value="businessmodellingmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                <a class="submenuItem" href="businessmodelling.html" class="heading3">Our Services</a>
                <a class="submenuItem" href="sendbusinessmodelling.html" class="heading3">Send a query</a>
                <a class="submenuItem" href="requestbusinessmodelling.html"class="heading3">Request a Quote</a>
                <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>
        
        </div>
         
        <!--GROWTH MENU 14-->
        <div id="growthmenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem  "   style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Growth<span> <a href="javascript:void(0)"  value="growthmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                <a class="submenuItem" href="growth.html" class="heading3">Our Services</a>
                <a class="submenuItem" href="sendgrowth.html" class="heading3">Send a query</a>
                <a class="submenuItem" href="requestgrowth.html"class="heading3">Request a Quote</a>
                <a class="submenuItem" href="contact.html"class="heading3">Contact us</a>
        
        </div>
         
        <!--IMPACT DESIGN MENU  15-->
        <div id="impactdesignmenu" class="sidenav">
                <div class="row">
        
                </div>
        
                <a class="submenuItem  "  style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Impact Design<span> <a href="javascript:void(0)"  value="impactdesignmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
                <a class="submenuItem" href="impactdesign.html" class="heading3">Our Services</a>
                <a class="submenuItem" href="sendimpactdesign.html" class="heading3">Send a query</a>
                <a class="submenuItem" href="requestimpactdesign.html"class="heading3">Request a Quote</a>
                <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>
        
        </div>
       <!-- navbar-->
                
        
    
        <!-- navbar-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top ">
            
                    
                        <div class="nav-item">
                                <h1> <span style="font-size:20px;cursor:pointer" class="menu-icon" onclick="openNav()" id="menuicon">&#9776;</span></h1>
                        </div>
                <a class="navbar-brand" href="index1.html">Value Plus</a>
                <button class="navbar-toggler navbar-toggler-left" type="button" data-target="main-navbar" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span> 
                </button>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav ml-auto" id="menu" style="margin-right:735px;">
                            <li class="nav-item">
                                    <a class="nav-link" href="incorporate.html">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pricingincorporate.html" >Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="requestincorporate.html" >Request a demo</a>
                                </li>
                                
                                
                                <li class="nav-item">
                                        <a class="nav-link" href="contact.html" >Contact Us</a>
                                    </li>
                            
                       
                            
                        
                    </ul>
                </div>
            </div>
        </nav>
            
             <!-- Page Content -->
             <div class="container request">
                    
                          <!-- Page Heading/Breadcrumbs -->
                          <h2 class="mt-4 mb-3 heading " >Request a demo for Incorporate +
                            
                          </h2>
                    
                          
                         
                    
                          <!-- Contact Form -->
                          <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
                          <div class="row">
                            <div class="col-lg-8 mb-4">
                              <h4 class="heading4">Send us a Message</h4>
                              <form name="sentMessage" id="contactForm" novalidate>
                                <div class="control-group form-group">
                                  <div class="controls">
                                    <label> Name:</label>
                                    <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block"></p>
                                  </div>
                                </div>
                                <div class="control-group form-group">
                                        <div class="controls">
                                          <label> Title:</label>
                                          <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                                          <p class="help-block"></p>
                                        </div>
                                      </div>
                                      <div class="control-group form-group">
                                            <div class="controls">
                                              <label> First Name:</label>
                                              <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                                              <p class="help-block"></p>
                                            </div>
                                          </div>
                                          <div class="control-group form-group">
                                                <div class="controls">
                                                  <label> Last Name:</label>
                                                  <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                                                  <p class="help-block"></p>
                                                </div>
                                              </div>
                                              <div class="control-group form-group">
                                                    <div class="controls">
                                                      <label> Name of your company:</label>
                                                      <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                                                      <p class="help-block"></p>
                                                    </div>
                                                  </div>
                                <div class="control-group form-group">
                                  <div class="controls">
                                    <label>Contact No:</label>
                                    <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                                  </div>
                                </div>
                                <div class="control-group form-group">
                                  <div class="controls">
                                    <label>Email Address:</label>
                                    <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                                  </div>
                                </div>
                                <div class="control-group form-group">
                                  <div class="controls">
                                    <label>Which product/service you would like to avail?</label>
                                    <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                                  </div>
                                </div>
                                <div id="success"></div>
                                <!-- For success/fail messages -->
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
                              </form>
                            </div>
                    
                          </div>
                          <!-- /.row -->
                          </div>
                    
            
                          <div class="footer">
                            <div class="container">
                        <div class="row">
                            <div class="col-lg-2">
                                <h4 class="title-widget"id="footer-head">Products</h4>
                                <ul style="padding-left:15px;">
                                <li><a id="footer-item" href="health.html">Health+</a></li>
                                    <li><a id="footer-item" href="sanitation.html">Sanitation+</a></li>
                                    <li><a id="footer-item" href="incorporate.html">Incorporate</a></li>
                                    <li><a id="footer-item" href="comply.html">Comply</a></li>
                                    <li><a id="footer-item" href="pitch.html">Pitch</a></li>
                                   
                                </ul>
                            </div>
                            <div class="col-lg-2">
                                <h4 class="title-widget"id="footer-head">Consulting</h4>
                                <ul style="padding-left:15px;">
                                    <li><a id="footer-item" href="corporate.html">Corporate</a></li>
                                    <li><a id="footer-item" href="startup.html">Startup</a></li>
                                    <li><a id="footer-item" href="social.html">Social</a></li>
                                    
                                </ul>
                            </div>
                            
                            <div class="col-lg-2">
                                    <h4 class="title-widget"id="footer-head">Training</h4>
                                    <ul style="padding-left:15px;">
                                        <li><a id="footer-item" href="productmarket.html">Product Market Fit</a></li>
                                        <li><a id="footer-item" href="businessmodelling.html">Business Modelling</a></li>
                                        <li><a id="footer-item" href="growth.html">Growth</a></li>
                                        <li><a id="footer-item" href="impactdesign.html">Impact Design</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-2">
                                        <h4 class="title-widget"id="footer-head" style="margin-top:-15px;">Business Functions</h4>
                                        <ul style="padding-left:15px;">
                                            <li> Value Plus Associates</li>
                                            <li  >Value Plus Legal</a></li>
                                            <li >Value Plus Design</a></li>
                                            <li>Value Plus Tech</a></li>
                                            <li>Value Plus Academy</a></li>
                                        </ul>
                                    </div>
                            <div class="col-lg-2">
                                    <h4 id="footer-head">Find Us</h4>
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                    <a href="#" class="fa fa-instagram"></a> </div>
                                    
                                
                                <div class="col-lg-2">
                                        <h4 id="footer-head">Subscribe to us</h4>
                                        <form 
                                        action="info@valueplus.io"
                                        method="POST"
                                        enctype="multipart/form-data"
                                        name="EmailTestForm">
                                      
                                      Your Email<br>
                                      <input type="text" size="20" name="VisitorName"><br><br>
                                      
                                    
                                      <input type="submit" value="Subscribe">
                                      
                                      </form>
                                        
                                                           
                                    </div>
                            </div>
                        </div>
                    </div>
            <footer class="py-5 bg-dark">
                    <div class="container">
                      <p class="m-0 text-center text-white">Copyright &copy; Value Plus 2017</p>
                    </div>
                    <!-- /.container -->
                  </footer>
              
            
                
                  
                </body>
                <!-- Contact form JavaScript -->
                <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
                <script src="js/jqBootstrapValidation.js"></script>
                <script src="js/contact_me.js"></script>
            
            
               <script>
                         
                        function openNav(menuID) {
                            if (menuID == null) {
                
                                menuID = "mySidenav";
                                document.getElementById(menuID).style.width = "280px";
                                document.getElementById("incorporatemenu").style.width = "280px";
                               document.getElementById("productsMenu").style.width = "280px";
                               
                             }
                             document.getElementById(menuID).style.width = "280px";
                        
                             document.getElementById("menu").style.marginLeft = "200px";
                           // document.getElementById("menuicon").style.visibility="hidden";
                        }
                
                        function closeNav(menuID) {
                            if (menuID == null) {
                
                                menuID = "mySidenav";
                                document.getElementById(menuID).style.width = "0";
                                
                                document.getElementById("menu").style.marginLeft = "0";
                                document.getElementById("menuicon").style.visibility="initial";
                            } else {
                
                                document.getElementById(menuID).style.width = "0";
                            }
                
                        }
                
                        function changeSubheading(heading) {
                
                            $('#subheading').text(heading);
                
                        }
                
                
                        $(".closebtn").click(function () {
                            //   alert($(this).attr('value'));
                            closeNav($(this).attr('value'));
                
                        });
                
                
                        $("#product").click(function () {
                            //    alert($(this).attr('value'));
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                
                        });
                
                
                        $("#consultation").click(function () {
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                
                        $("#innovation").click(function () {
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                
                        $("#traning").click(function () {
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                        $("#health").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                         
                        $("#sanitation").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                        
                        $("#consulting").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                
                        $("#corporate").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                
                        $("#startup").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                        
                        $("#social").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                        $("#productmarket").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                        $("#businessmodelling").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                        $("#growth").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                         
                        $("#impactdesign").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                        $("#platform").click(function () {
                           
                            openNav($(this).attr('value'));
                            changeSubheading($(this).html());
                        });
                        $('.submenuItem').click(function () {
                
                            changeSubheading($(this).html());
                
                        })
                        
                        $(".productsmenu").click(function () {
                            alert("reached");
                            openNav("mySide");
                            changeSubheading($(this).html());
                
                        })
                
                
                </script>
            
            </html>
            