
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 0.4s ease;
    border-right: 1px solid #A1A1A1 ;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #797979;;
    display: block;
    font-weight: 100;
    transition: 0.3s ;
    border-bottom: #A1A1A1 solid 1px;
}

.sidenav a:hover {
    color: #3F3F3F;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 22px;
    color: #000;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left:0px; 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.menu-icon{

    padding:10px;
    color: #555555;

}



.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
.heading{

    margin-bottom: 10px;

    border-bottom: #A1A1A1 solid 1px;
}

.sub-heading{


    margin-left:60px; 
}