html, body {
  height: 100%;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}
.navmenu-default, .navbar-default .navbar-offcanvas {
  background-color: #ffffff;
  color: #54fd83;
  border-color: #e7e7e7;
}

.navmenu-default a {
  color: #00FAA0 !important;
  border-color: #000000;
  border-bottom: #e2e2e2 1px solid;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}
